/* body {
    display: flex;
    align-items: stretch;
} */

#face-select .col button.btn {
    width: 50px;
    height: 50px;
    border-color: black;
    color: black;
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.container{
    position: relative;
}

.row.nowrap {
    flex-wrap: nowrap;
    overflow-x: auto;
}

#select {
    user-select: none;
    margin-top: 20px;
    height: 65%;
    padding: 10px;
    border-color: black;
    color: black;
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    height: 600px;
}

#dialog {
    position: absolute;
    pointer-events: none;
}

.hidden {
    display: none;
}

#preview{
    height: 300px;
}

#svg-codes {
    width: 100%;
    height: 300px;
    overflow-y: auto;
    resize: none;
    border: none;
}

#select-all {
    position: absolute;
    bottom: 10px;
    right: 50px;
}

#idk {
    position: relative;
}